# --- Arduino IDE Geçici Dosyaları ---
*.tmp
*.bak
*.elf
*.hex
*.eep
*.o

# --- PlatformIO ve VS Code Dosyaları ---
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json
.provider_cache
.vscode/

# --- İşletim Sistemi Kalıntıları ---
.DS_Store
Thumbs.db